body {
  color: #fff;
}

.Littel {
  text-align: center;
  font-size: 2.8rem;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
  margin: 0;
}

.aboutmain {
  display: flex;
  flex-direction: column;
}

.AboutFirst, .AboutSecond {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.Aboutfirstphoto, .About-2 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 0 10rem;
}

.Abouttext, .Best {
  padding-left: 5rem;
}

.Learn {
  font-size: 1.3rem;
  width: 150px;
}

.Learn:hover {
  color: aquamarine;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.Who, .What {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .Littel {
    font-size: 2.5rem;
  }

  .Aboutfirstphoto, .About-2 {
    height: 250px;
    width: 250px;
    margin: 0 7rem;
  }

  .Abouttext {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .Littel {
    font-size: 1.8rem;
    margin: 0;
  }

  .Aboutfirstphoto, .About-2 {
    height: 280px;
    width: 240px;
    margin: 5% auto;
  }

  .Abouttext, .Best {
    padding: 0 16px;
  }

  .AboutFirst, .AboutSecond {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 430px) {
  .Aboutfirstphoto, .About-2 {
    width: 220px;
    height: 280px;
    margin: 5% auto;
  }
}

@media screen and (max-width: 375px) {
  .Aboutfirstphoto, .About-2 {
    width: 200px;
    height: 260px;
    margin: 5% auto;
  }
}

@media screen and (max-width: 320px) {
  .Aboutfirstphoto, .About-2 {
    width: 180px;
    height: 240px;
  }
}
