html body{
    background: #000;
}
.home-Header{
    color: white;
    text-decoration: none;
}
.ourservices{
    color: white;
    text-decoration: none;
}
.aboutus{
    color: white;
    text-decoration: none;
}
.blogs{
    color: white;
    text-decoration: none;
}
.contact{
    color: white;
    text-decoration: none;
}
.Header{
    margin-top: 4rem;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
}
.Items{
    padding-right: 8rem;
    display: flex;
    color: aliceblue;
    gap: 3.4rem;
    font-size: 1.7rem;
    font-family: Libre Baskerville, serif ;
}
.Logo{
    width: 30%;
    margin-left: 7rem;
    display: block;
    
}
.home-Header:hover{
    color: aquamarine;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
.ourservices:hover{
    color: aquamarine;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
.aboutus:hover{
    color: aquamarine;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
.blogs:hover{
    color: aquamarine;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
.contact:hover{
    color: aquamarine;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}