.text{
    margin: 0 22%;
}
.enterprise{
    background: rgb(255, 136, 0);
    padding: 0;
    display: inline-block;
    border-radius: 2px;
}
.home-text{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: Libre Baskerville, serif ;
}
.your{
    color: white;
    font-family: Libre Baskerville, serif ;
}


