.text{
    margin: 5% 22% 0% 22%; 
    
}
.Technologies{
    background: rgba(255, 149, 28, 0.808);
    padding: 0;
    display: inline-block;
    border-radius: 2px;
}
.home-text{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: Libre Baskerville, serif ;
    animation: 1.2s linear;
    animation-name: text;
}
.your{
    color: white;
    font-family: Libre Baskerville, serif ;
    animation: 2.5s linear;
    animation-name: text;
    font-weight: 600;
}

@keyframes text{
    from{
        opacity: 0;
        transform: translateX(15%);
    }
    25%{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes text{
    from{
        opacity: 0;
        transform: translateX(40%);
    }
    20%{
        opacity: 0;
    }25%{
        opacity: 0;
    }30%{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@media screen and (max-width: 768px) {
    .Technologies{
        background: rgba(255, 149, 28, 0.808);
        padding: 0;
        display: inline-block;
        border-radius: 2px;
    }
    .home{
        height: 100%;
        width: auto;
    }
    .home-text{
        font-size: 2rem;
    }
    .your{
        color: white;
        font-family: Libre Baskerville, serif ;
        animation: 2.5s linear;
        animation-name: text;
    }
}