.move-ing{
    padding: 8rem 0;
    overflow: hidden;
    background: black;
    white-space: nowrap;
}
.Movinglogo{
    display: inline-block;
    animation: 10s slide infinite linear;
}
.Movinglogo img{
    height: 90px;
    margin: 0px 40px;
}
@keyframes slide{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

@media screen and (max-device-width:1024px) {
    .move-ing{
        position: relative;
        z-index: -5;
        padding: 5rem 0 6rem 0;
    }
}

@media screen and (max-device-width: 768px) {
    .move-ing{
        position: relative;
        z-index: -5;
        padding: 6rem 0 6rem 0;
    }
}