.div-table {
  border: 1px solid #ffffff28;
  display: flex;
  margin-left: 20rem;
  height: 45rem;
}
.web-d {
  border: 1px solid #ffffff69;
  padding: 2rem 4.42rem;
  font-size: 1.8rem;
}
.app-d {
  border: 1px solid #ffffff69;
  padding: 2rem 4.42rem;
  font-size: 1.8rem;
}
.game-d {
  border: 1px solid #ffffff69;
  padding: 2rem 4.42rem;
  font-size: 1.8rem;
}
.figma-d {
  border: 1px solid #ffffff69;
  padding: 2rem 4.42rem;
  font-size: 1.8rem;
}
.web-text {
  margin-top: 2rem;
  font-size: 1.1rem;
}
.app-text {
  font-size: 1.1rem;
  margin-top: 2rem;
}
.game-text {
  font-size: 1.1rem;
  margin-top: 2rem;
}
.figma-text {
  font-size: 1.1rem;
  margin-top: 2rem;
}
.Circles {
  margin-left: 2rem;
  margin-top: 5rem;
  width: 90px;
}
.Square {
  margin-left: 2rem;
  margin-top: 8.5rem;
}
.Toy {
  margin-left: 2rem;
  margin-top: 11.3rem;
}
.Triangle {
  width: 80px;
  height: 80px;
  margin-left: 2rem;
  margin-top: 10rem;
}
.Product {
  color: white;
  font-family: Libre Baskerville, serif;
  font-size: 1.5rem;
  writing-mode: vertical-lr;
  position: absolute;
  padding-left: 15rem;
  cursor: pointer;
}
.Read-more {
  color: white;
  background: black;
  font-size: 1.3rem;
  border: 2px solid black;
  font-family: Libre Baskerville, serif;
  padding-left: 23rem;
  padding-top: 3rem;
}
.Read-more:hover {
  color: aquamarine;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media screen and (max-width: 768px) {
  .Product {
    position: relative;
    writing-mode: horizontal-tb;
    padding: 0;
    text-align: center;
    margin-bottom: 5rem;
  }
  .div-table {
    border: 1px solid #ffffff28;
    margin: 0;
    height: 18rem;
    width: auto;
    flex-direction: column;
  }
  .web-d {
    border: 1px solid #ffffff69;
    font-size: 1.3rem;
    padding: 2rem 3rem 5rem 2.5rem;
  }
  
  .app-d {
    border: 1px solid #ffffff69;
    font-size: 1.3rem;
    padding: 2rem 3rem 5rem 2.5rem;
  }
  .game-d {
    border: 1px solid #ffffff69;
    font-size: 1.3rem;
    padding: 2rem 3rem 5rem 2.5rem;
  }
  .figma-d {
    border: 1px solid #ffffff69;
    font-size: 1.3rem;
    padding: 2rem 3rem 5rem 2.5rem;
  }
  .Circles {
    display: none;
  }
  .Square {
    display: none;
  }
  .Toy {
    display: none;
  }
  .Triangle {
    display: none;
  }
  .Read-more {
    position: relative;
    padding: 0;
    margin: 0;
    top: 75rem;
    left: 1.2rem;
 }
}