.work p{
    color: white;
    font-family: Libre Baskerville, serif ;
    font-size: 1.5rem;
    font-weight: 600;
    writing-mode: vertical-rl;
    margin: 0rem 10rem 0rem 10rem;
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    height: 150px;
}
.work p:hover,.Product:hover{
    color: aquamarine;
}
.work{
    display: flex;
    padding: 7rem;
}
.Marketing{
    height: 500px;
    width: 400px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.Xyz{
    height: 500px;
    width: 400px;
    padding-left: 8rem;
    border-radius: 5px;   
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.Super{
    font-size: 2rem;
    color: white;
    font-family: Libre Baskerville, serif ;
}
.Supermove-p{
    color: white;
}
.Zenhub{
    font-size: 2rem;
    color: white;
    font-family: Libre Baskerville, serif ;
    margin-left: 8.1rem;
}
.zenhub-span{
    margin-left: 8.1rem ;
    color: white;
}

@media screen and (max-device-width: 1024px) {
    .work{
        padding: 0;
        margin: 0;
        height: 100%;
        flex-direction: column;
        display: block;
    }
    .work p{
        padding-top: 4rem;
        writing-mode: horizontal-tb;
        position: static;
        margin: 0;
        height: 5rem;
        width: 100%;
        text-align: center;
    }
    .Marketing{
        margin: 0;
        padding: 0;
        width: 300px;
        height: 400px;
        margin: 0 35.3%;
    }
    .Super{
        font-size: 1.5rem;
        margin: 0 35.3%;
    }
    .Supermove-p{
        font-size: .8rem;
        width: 100%;
    }
    .Xyz{
        margin: 0;
        padding: 0;
        width: 300px;
        height: 400px;
        margin: 0 35.3%;
    }
    .Zenhub{
        font-size: 1.5rem;
        margin: 0 35.3%;
    }
    .zenhub-span{
        margin: 1rem 0 0 0 ;
        font-size: .8rem;
        width: 100%;
    }
    .work-marketing-img1{
        margin-bottom: 2rem;
    }
}


@media screen and (max-width: 768px) {
    .work{
        padding: 0;
        margin: 0;
        height: 100%;
        flex-direction: column;
        display: block;
    }
    .work p{
        padding-top: 4rem;
        writing-mode: horizontal-tb;
        position: static;
        margin: 0;
        height: 5rem;
        width: 100%;
        text-align: center;
    }
    .Marketing{
        width: 250px;
        height: 300px;
        border-radius: 2px;
        margin: 0 33.5%;
    }
    .Super{
        font-size: 1.5rem;
        margin: 0 33.5%;
    }
    .Supermove-p{
        font-size: .8rem;
        width: 100%;
    }
    .Xyz{
        margin: 0;
        padding: 0;
        width: 250px;
        height: 300px;
        border-radius: 2px;
        margin: 0 33.5%;
    }
    .Zenhub{
        font-size: 1.5rem;
        margin: 0 33.5%;
    }
    .zenhub-span{
        margin: 1rem 0 0 0 ;
        font-size: .8rem;
        width: 100%;
    }
    .work-marketing-img1{
        margin-bottom: 2rem;
    }
}

@media screen and (max-device-width:430px) {
    .Marketing{
        margin: 0 20%;  
    }
    .Super{
        margin: 0 20%;  
    }
    .Xyz{
        width: 240px;
        height: 300px;
        margin: 0 20%;  
    }
    .Zenhub{
        font-size: 1.5rem;
        margin: 0 20%;  
    }
}
@media screen and (max-device-width:400px) {
    .Marketing{
        margin: 0 17%;  
    }
    .Super{
        margin: 0 17%;  
    }
    .Xyz{
        width: 240px;
        height: 300px;
        margin: 0 17%;  
    }
    .Zenhub{
        font-size: 1.5rem;
        margin: 0 17%;  
    }
}
@media screen and (max-device-width:375px) {
    .Marketing{
        width: 240px;
        height: 300px;
        margin: 0 16%;  
    }
    .Xyz{
        width: 240px;
        height: 300px;
        margin: 0 16%;  
    }
}
@media screen and (max-device-width:320px) {
    .work{
        height: 100%;
    }
    .Marketing{
        width: 240px;
        height: 300px;
        margin: 0 12%;  
    }
    .Super{
        margin: 0 12%;  
    }
    .Xyz{
        width: 240px;
        height: 300px;
        margin: 0 12%;  
    }
    .Zenhub{
        margin: 0 12%;  
    }
}


